{% extends "base.html" %}

{% block content %}
    <section>
        <div class="container-fluid d-flex">            
            <div class="col-10">
                <form class="card mt-5 p-5" method="post">
                    <h3 class="text-center">Enviar mensaje</h3>
                    
                    <div class="mb-3">
                        <label for="para" class="form-label">Para </label>
                        <input name="para"  class="form-control" id="para" aria-describedby="emailHelp">                      
                    </div>
                    <div class="mb-3">
                        <label for="asunto" class="form-label">Asunto</label>
                        <input name="asunto"  class="form-control" id="asunto" aria-describedby="emailHelp">                      
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <input name="mensaje"  class="form-control" id="mensaje" aria-describedby="emailHelp">                      
                    </div>
                                             
                    
                    <button type="submit" class="btn btn-primary mt-4">Registrar</button>
                  </form>
    
            </div>
        </div>
    </section>

  
    
{% endblock %}